
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpDetailsEdit</title>


    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

    <style>
        body {
            background-image: url("http://www.myfreephotoshop.com/wp-content/uploads/2015/10/2311.jpg");
            padding: 0px;
            margin: 0px;
        }

        #content {
            background: white;
            padding: 5%;
            position: relative;
            top: 35%;
            width: 50%;
            left: 30%;
            border-radius: 3%;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-3" id=left></div>
        <div class="col-md-6 text-center">
            <div id="content">
                <h3>Edit Details</h3>
                <form>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control"></input>
                        <label for="">Address</label>
                        <input type="text" class="form-control"></input>
                        <label for="">Phone No.</label>
                        <input type="text" class="form-control"></input>
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <input type="submit" value="Save" class="btn">
                    <button class="btn ">Cancel</button>
                </form>
            </div>
        </div>

        <div class="col-md-3" id="right"></div>
    </div>
</body>
</html>
