
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmpLogin</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

    <style>
        body {
            background-image: url("http://www.myfreephotoshop.com/wp-content/uploads/2015/10/2311.jpg");
            padding: 0px;
            margin: 0px;
        }

        #content {
            background: white;
            padding: 5%;
            position: relative;
            top: 80%;
            left: 10%;
            border-radius: 3%;
        }
    </style>

</head>
<body>
    <div class="row">
        <div class="col-md-3" id=left></div>
        <div class="col-md-6 text-center">
            <div id="content">
                <h2>Employee Login</h2>
                <form action="">
                    <div class="form-group">
                        <label for="">User Id</label>
                        <input type="text" class="form-control">
                        <label for="">Password</label>
                        <input type="password" class="form-control">
                        <br>
                        <input type="submit" class="btn btn-success">

                        <a href="" class="btn btn-info">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-3" id="right"></div>
    </div>
</body>
</html>
