div.add-food{
    box-shadow: 1px 3px 12px 5px rgba(136, 136, 136, 0.6);
    background-color:white;
    border-radius:1%;
    padding:20px;
    margin-top:10%;
    position: fixed;
    width: 17.4%;
}
div.view-food{
    box-shadow: 1px 3px 12px 5px rgba(136, 136, 136, 0.6);;
    background-color:white;
    border-radius:1%;
    padding:10px;
    margin-top: 2%;;
}
hr {
    background-color: white;
    color:white;
}
form 
{
    text-align:center;
}