
@{
    ViewBag.Title = "MenuList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-md-9 admin_right" style="padding-bottom: 1.2%;">
<div class=row>
<div class="col-md-3">
    <div class="add-food">
        <h3 class="text-center">Add Food</h3>
        <form> 
            Food Name:
            <br>
            <input type="text">
            <br>
            <br> Category:
            <br>
            <input type="text">
            <br>
            <br> Food Details:
            <br>
            <input type="text">
            <br>
            <br> Price:
            <br>
            <input type="text">
            <br>
            <br> Discount:
            <br>
            <input type="text">
            <br>
            <br>
            Image:
            <br>
            <input type="file">
            <br>
            <br>
            <input type="submit">
        </form>
    </div>
</div>
<div class="col-md-9">
<div class="view-food text-center">
<h3>Food List</h3>
<hr>
<table width="100%" cellpadding="10">
<tr>
    <td>Image</td>
    <td>Food Name </td>
    <td>Category</td>
    <td>Food Details</td>
    <td>Price</td>
    <td>Discount</td>
    <td>Edit</td>
    <td>Delete</td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
<tr>
    <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
    <td>Jambo Burger </td>
    <td>Burger</td>
    <td>Food Details</td>
    <td>350</td>
    <td>10%</td>
    <td>
        <form>
            <input type="submit" value="Edit">
        </form>
    </td>
    <td><form>
        <input type="submit" value="Delete">
    </form></td>
</tr>
              
               
              
              
</table>
</div>
</div>
</div>
      
      
      
      
</div>

