
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-md-9 admin_right">

    <div class="orderList text-center">
        <table cellpadding="10" align="center" style="background-color:white">
            <tbody class="text-center">
            <tr>
                <td>Order Number
                    <hr/>
                </td>
                <td>Total Bill(TK)
                    <hr/>
                </td>
                
                <td>Send to cook
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>Order 1</td>
                <td>900</td>
                <td>
                    <a href="#"><img src="http://uxmas.com/images/uploads/The_Cook_App_logo.png" width="10%" /></a>
                </td>
            </tr>
            <tr>
                <td>Order 2</td>
                <td>700</td>
                <td>
                    <a href="#"><img src="http://uxmas.com/images/uploads/The_Cook_App_logo.png" width="10%" /></a>
                </td>
            </tr>
            <tr>
                <td>Order 3</td>
                <td>750</td>
                <td>
                    <a href="#"><img src="http://uxmas.com/images/uploads/The_Cook_App_logo.png" width="10%" /></a>
                </td>
            </tr>
            <tr>
                <td>Order 4</td>
                <td>700</td>
                <td>
                    <a href="#"><img src="http://uxmas.com/images/uploads/The_Cook_App_logo.png" width="10%" /></a>
                </td>
            </tr>
            <tr>
                <td>Order 5</td>
                <td>800</td>
                <td>
                    <a href="#"><img src="http://uxmas.com/images/uploads/The_Cook_App_logo.png" width="10%" /></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>
