
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-md-9 admin_right">
<div class=row>
<div class="col-md-3">
    <div class="add-food">
        <h3 class="text-center">Add Employee</h3>
        <form>
            Emplyee Name:
            <br>
            <input type="text">
            <br>
            <br> Job:
            <br>
            <input type="text">
            <br>
            <br> Address:
            <br>
            <input type="text">
            <br>
            <br> Phone No:
            <br>
            <input type="text">
            <br>
            <br> Password:
            <br>
            <input type="text">
            <br>
            <br> Image:
            <br>
            <input type="file">
            <br>
            <br>
            <input type="submit">
        </form>
    </div>
</div>
<div class="col-md-9">
<div class="view-food text-center">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
<h3>Employee List</h3>
    
<hr>
<table width="100%" cellpadding="10" id="myTable">
    <tr>
        <th>Image</th>
        <th>Name </th>
        <th>Job</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Chef</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td> John de </td>
        <td>Staff</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    <tr>
        <td><img src="http://www.vurtur.com/images/photo.jpg" width="70"></td>
        <td>Bob Marshal </td>
        <td>Admin</td>
        <td>01680000006</td>
        <td>Uttara, Dhaka</td>                
        <td>
            <form>
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form>
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
              
</table>
</div>
</div>
</div>

</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>