
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="col-md-9 admin_right">

    <div class="orderList text-center">
        <table cellpadding="10" align="center" style="background-color:white">
           
        </table>

    </div>

</div>
