
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style=" padding-left: 5%;padding-right: 5%;">
    <div class="row row-padding">
        <div class="col-lg-12 text-center">

            <span id="greetings"> Let's Have Some Breakfast</span>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    <div class="row row-padding">
        <div class='col-lg-3 col-md-6 pad-btm'>
            <div class="content">
                <div class="tile">
                    <a href="#">
                        <img class='img-responsive' src="https://cdad5c1a4432622c031d-9e2498b30009308de15a0d52a7422974.ssl.cf1.rackcdn.com/menu/product/strawberries-cream-pancake-breakfast_thumbnaillarge_2017-04-06-17-58-09.jpg" alt="">
                    </a>
                </div>
                <div class="menu-details">
                    <h5><b>Breakfast</b></h5>
                    <h3>Breakfast Pack 1</h3>
                    <p>Fruits, Egg, Sausage, Pan Cake </p>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 text-left'>
                            <b>Price: 150TK</b>
                        </div>
                        <div class='col-lg-6 col-md-6 text-right'>
                            <input type="submit" value="+ ADD" class="addFood" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-3 col-md-6 pad-btm'>
            <div class="content">
                <div class="tile">
                    <a href="#">
                        <img class='img-responsive' src="http://v.img.com.ua/b/orig/1/87/54bb94adfacafd4756636c6446ff0871.jpg" alt="">
                    </a>
                </div>
                <div class="menu-details">
                    <h5><b>Breakfast</b></h5>
                    <h3>Breakfast Pack 2</h3>
                    <p>Fruits, Egg, Sausage, Pan Cake </p>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 text-left'>
                            <b>Price: 200TK</b>
                        </div>
                        <div class='col-lg-6 col-md-6 text-right'>
                            <input type="submit" value="+ ADD" class="addFood" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-3 col-md-6 pad-btm'>
            <div class="content">
                <div class="tile">
                    <a href="#">
                        <img class='img-responsive' src="https://7b30cfc4a1b0ada1cdb2-893624c4eafa7bb58a8641a0ccf4ceea.ssl.cf1.rackcdn.com/4-all-you-can-eat-pancakes_thumb-m.jpg?mod=635703228738630000" alt="">
                    </a>
                </div>
                <div class="menu-details">
                    <h5><b>Breakfast</b></h5>
                    <h3>Breakfast Pack 3</h3>
                    <p>Fruits, Egg, Sausage, Pan Cake </p>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 text-left'>
                            <b>Price: 200TK</b>
                        </div>
                        <div class='col-lg-6 col-md-6 text-right'>
                            <input type="submit" value="+ ADD" class="addFood" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-3 col-md-6 pad-btm'>
            <div class="content">
                <div class="tile">
                    <a href="#">
                        <img class='img-responsive' src="http://blog.sndimg.com/cook/Singer/Gandalfs-Gobble-Melt-Dennys.jpg" alt="">
                    </a>
                </div>
                <div class="menu-details">
                    <h5><b>Breakfast</b></h5>
                    <h3>Breakfast Pack 4</h3>
                    <p>Fruits, Egg, Sausage, Pan Cake </p>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 text-left'>
                            <b>Price: 200TK</b>
                        </div>
                        <div class='col-lg-6 col-md-6 text-right'>
                            <input type="submit" value="+ ADD" class="addFood" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-3 col-md-6 pad-btm'>
            <div class="content">
                <div class="tile">
                    <a href="#">
                        <img class='img-responsive' src="http://blog.sndimg.com/cook/Singer/Gandalfs-Gobble-Melt-Dennys.jpg" alt="">
                    </a>
                </div>
                <div class="menu-details">
                    <h5><b>Breakfast</b></h5>
                    <h3>Breakfast Pack 4</h3>
                    <p>Fruits, Egg, Sausage, Pan Cake </p>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 text-left'>
                            <b>Price: 200TK</b>
                        </div>
                        <div class='col-lg-6 col-md-6 text-right'>
                            <input type="submit" value="+ ADD" class="addFood" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-3 col-md-6 pad-btm'>
            <div class="content">
                <div class="tile">
                    <a href="#">
                        <img class='img-responsive' src="http://blog.sndimg.com/cook/Singer/Gandalfs-Gobble-Melt-Dennys.jpg" alt="">
                    </a>
                </div>
                <div class="menu-details">
                    <h5><b>Breakfast</b></h5>
                    <h3>Breakfast Pack 4</h3>
                    <p>Fruits, Egg, Sausage, Pan Cake </p>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 text-left'>
                            <b>Price: 200TK</b>
                        </div>
                        <div class='col-lg-6 col-md-6 text-right'>
                            <input type="submit" value="+ ADD" class="addFood" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-lg-3 col-md-6 pad-btm'>
            <div class="content">
                <div class="tile">
                    <a href="#">
                        <img class='img-responsive' src="http://blog.sndimg.com/cook/Singer/Gandalfs-Gobble-Melt-Dennys.jpg" alt="">
                    </a>
                </div>
                <div class="menu-details">
                    <h5><b>Breakfast</b></h5>
                    <h3>Breakfast Pack 4</h3>
                    <p>Fruits, Egg, Sausage, Pan Cake </p>
                    <div class="row">
                        <div class='col-lg-6 col-md-6 text-left'>
                            <b>Price: 200TK</b>
                        </div>
                        <div class='col-lg-6 col-md-6 text-right'>
                            <input type="submit" value="+ ADD" class="addFood" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
